* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:focus {
  outline: none;
  /* outline: 4px dotted #e67e22;
  outline-offset: 8px; */
  -webkit-box-shadow: 0 0 0 0.8rem rgba(230, 125, 34, 0.5);
          box-shadow: 0 0 0 0.8rem rgba(230, 125, 34, 0.5);
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  color: #555;
  overflow-x: hidden;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.section-padding {
  padding: 4.6rem 2rem 4.6rem 2rem;
}

.grid {
  display: grid;
}

.grid--1-cols {
  grid-template-columns: 1fr;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.first-heading {
  margin-bottom: 2rem;
  color: #222;
  font-size: 3.2rem;
  line-height: 1.2;
  font-size: 700;
}

.orange-button {
  background-color: #cf711f;
  color: #fff;
  display: inline-block;
  margin-bottom: 2rem;
  padding: 1rem 2rem;
  border-radius: 11px;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 500;
  margin-right: 1rem;
}

.white-button {
  background-color: #fff;
  color: #333;
  display: inline-block;
  margin-bottom: 2rem;
  padding: 1rem 2rem;
  border-radius: 11px;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 500;
  margin-right: 1rem;
}

@media (min-width: 768px) {
  .first-heading {
    font-size: 3.5rem;
  }

  .orange-button,
.white-button {
    font-size: 1.8rem;
  }
}
@media (min-width: 1200px) {
  .first-heading {
    font-size: 4.5rem;
  }

  .orange-button,
.white-button {
    font-size: 2.2rem;
  }
}
.header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  background-color: #fdf2e9;
}
.header__logo {
  height: 2rem;
}
.header__burger {
  padding: 1rem;
  background: none;
  border: none;
  z-index: 200;
  font-size: 2.8rem;
  color: #333;
}
.header__burger__icon[name=close-outline] {
  display: none;
}

@media (min-width: 576px) {
  .header__logo {
    height: 2.2rem;
  }
  .header__burger {
    font-size: 3.4rem;
  }
}
@media (min-width: 768px) {
  .header__logo {
    height: 2.4rem;
  }
  .header__burger {
    font-size: 3.4rem;
  }
}
@media (min-width: 992px) {
  .header {
    padding: 3rem;
  }
  .header__burger {
    display: none;
  }
}
.navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 255, 255, 0.97);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 100;
  opacity: 0;
  -webkit-transform: translateX(102%);
          transform: translateX(102%);
  pointer-events: none;
  visibility: hidden;
}
.navigation--open {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  pointer-events: auto;
  visibility: visible;
}
.navigation__items {
  list-style: none;
}
.navigation__link {
  display: block;
  margin: 2rem 0;
  text-decoration: none;
  font-size: 2.8rem;
  font-weight: 500;
  color: #333;
}
.navigation__link--cta {
  margin-top: 3rem;
  padding: 0.8rem 1.6rem;
  border-radius: 11px;
  color: #fff;
  background-color: #cf711f;
}

@media (min-width: 992px) {
  .navigation {
    position: static;
    width: auto;
    height: auto;
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    pointer-events: auto;
    visibility: visible;
    z-index: 0;
    background-color: transparent;
  }
  .navigation__link {
    display: inline-block;
    margin: 0 1.2rem;
    font-size: 2rem;
  }
}
.hero {
  padding: 2.3rem 2rem;
  background-color: #fdf2e9;
  text-align: center;
}
.hero .container {
  display: grid;
  grid-template-columns: 1fr;
}
.hero__picture {
  width: 70%;
}
.hero__description {
  margin-bottom: 2rem;
  font-size: 1.6rem;
  line-height: 1.6;
}
.hero__customers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}
.hero__customers__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.hero__customers__box__image {
  width: 5.4rem;
  height: 5.4em;
  margin-right: -1.2rem;
  border-radius: 50%;
  border: 3px solid #fdf2e9;
}
.hero__customers__text {
  margin-bottom: 2rem;
  font-weight: 500;
  font-size: 1.4rem;
}
.hero__customers--special {
  color: #cf711f;
}

@media (min-width: 576px) {
  .hero__customers {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 2rem;
    margin-bottom: 2rem;
  }
  .hero__customers__text {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.5rem;
  }
  .hero__picture {
    width: 70%;
  }
}
@media (min-width: 768px) {
  .hero__picture {
    width: 70%;
  }
  .hero__description {
    margin-bottom: 2rem;
    font-size: 1.8rem;
    line-height: 1.6;
  }
}
@media (min-width: 992px) {
  .hero {
    padding-top: 4rem;
    text-align: left;
  }
  .hero .container {
    grid-template-columns: repeat(2, 1fr);
  }
  .hero__picture {
    width: 85%;
  }
  .hero__text {
    padding-right: 3rem;
  }
  .hero__customers {
    margin-top: 3rem;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}
@media (min-width: 1200px) {
  .hero {
    padding: 6.6rem 0;
  }
  .hero__description {
    margin: 3rem 0;
    font-size: 2.5rem;
  }
  .hero__picture {
    width: 100%;
  }
}
.featured {
  text-align: center;
}
.featured__title {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  text-transform: uppercase;
}
.featured__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
}
.featured__image {
  width: 100%;
  -webkit-filter: brightness(0);
          filter: brightness(0);
  opacity: 50%;
}

@media (min-width: 576px) {
  .featured__title {
    margin-bottom: 2rem;
    font-size: 1.4rem;
  }
}
@media (min-width: 768px) {
  .featured__box {
    gap: 4rem;
  }
}/*# sourceMappingURL=style.css.map */