* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:focus {
  outline: none;
  /* outline: 4px dotted #e67e22;
  outline-offset: 8px; */
  -webkit-box-shadow: 0 0 0 0.8rem rgba(230, 125, 34, 0.5);
          box-shadow: 0 0 0 0.8rem rgba(230, 125, 34, 0.5);
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  color: #555;
  overflow-x: hidden;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.section-padding {
  padding: 4.6rem 2rem 4.6rem 2rem;
}

.first-heading {
  margin-bottom: 2rem;
  color: #222;
  font-size: 3.2rem;
  line-height: 1.2;
  font-size: 700;
}

.second-heading {
  margin-bottom: 4rem;
  max-width: 120rem;
  color: #222;
  font-size: 2.8rem;
  line-height: 1.2;
  font-size: 700;
}

.third-heading {
  margin-bottom: 2rem;
  font-size: 2.2rem;
  color: #222;
}

.subheading {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 1.3rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #e67e22;
}

.heading__text {
  margin: 0 auto;
  max-width: 120rem;
}

.orange-button {
  background-color: #cf711f;
  color: #fff;
  display: inline-block;
  margin-bottom: 2rem;
  padding: 1rem 2rem;
  border-radius: 11px;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 500;
  margin-right: 1rem;
}

.white-button {
  background-color: #fff;
  color: #333;
  display: inline-block;
  margin-bottom: 2rem;
  padding: 1rem 2rem;
  border-radius: 11px;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 500;
  margin-right: 1rem;
}

@media (min-width: 768px) {
  .first-heading {
    font-size: 3.5rem;
  }

  .orange-button,
.white-button {
    font-size: 1.8rem;
  }
}
@media (min-width: 992px) {
  .second-heading {
    font-size: 3.5rem;
  }

  .third-heading {
    font-size: 2.6rem;
  }
}
@media (min-width: 1200px) {
  .orange-button,
.white-button {
    font-size: 2.2rem;
  }

  .first-heading {
    font-size: 4.5rem;
  }

  .second-heading {
    font-size: 4.2rem;
  }

  .third-heading {
    font-size: 3rem;
  }
}
.header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  background-color: #fdf2e9;
}
.header__logo {
  height: 2rem;
}
.header__burger {
  padding: 1rem;
  background: none;
  border: none;
  z-index: 200;
  font-size: 2.8rem;
  color: #333;
}
.header__burger__icon[name=close-outline] {
  display: none;
}

@media (min-width: 576px) {
  .header__logo {
    height: 2.2rem;
  }
  .header__burger {
    font-size: 3.4rem;
  }
}
@media (min-width: 768px) {
  .header__logo {
    height: 2.4rem;
  }
  .header__burger {
    font-size: 3.4rem;
  }
}
@media (min-width: 992px) {
  .header {
    padding: 3rem;
  }
  .header__burger {
    display: none;
  }
}
.navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 255, 255, 0.97);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 100;
  opacity: 0;
  -webkit-transform: translateX(102%);
          transform: translateX(102%);
  pointer-events: none;
  visibility: hidden;
}
.navigation--open {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  pointer-events: auto;
  visibility: visible;
}
.navigation__items {
  list-style: none;
}
.navigation__link {
  display: block;
  margin: 2rem 0;
  text-decoration: none;
  font-size: 2.8rem;
  font-weight: 500;
  color: #333;
}
.navigation__link--cta {
  margin-top: 3rem;
  padding: 0.8rem 1.6rem;
  border-radius: 11px;
  color: #fff;
  background-color: #cf711f;
}

@media (min-width: 992px) {
  .navigation {
    position: static;
    width: auto;
    height: auto;
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    pointer-events: auto;
    visibility: visible;
    z-index: 0;
    background-color: transparent;
  }
  .navigation__link {
    display: inline-block;
    margin: 0 1.2rem;
    font-size: 2rem;
  }
}
.hero {
  padding: 2.3rem 2rem;
  background-color: #fdf2e9;
  text-align: center;
}
.hero .container {
  display: grid;
  grid-template-columns: 1fr;
}
.hero__picture {
  width: 70%;
}
.hero__description {
  margin-bottom: 2rem;
  font-size: 1.6rem;
  line-height: 1.6;
}
.hero__customers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}
.hero__customers__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.hero__customers__box__image {
  width: 5.4rem;
  height: 5.4em;
  margin-right: -1.2rem;
  border-radius: 50%;
  border: 3px solid #fdf2e9;
}
.hero__customers__text {
  margin-bottom: 2rem;
  font-weight: 500;
  font-size: 1.4rem;
}
.hero__customers--special {
  color: #cf711f;
}

@media (min-width: 576px) {
  .hero__customers {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 2rem;
    margin-bottom: 2rem;
  }
  .hero__customers__text {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.5rem;
  }
  .hero__picture {
    width: 70%;
  }
}
@media (min-width: 768px) {
  .hero__picture {
    width: 70%;
  }
  .hero__description {
    margin-bottom: 2rem;
    font-size: 1.8rem;
    line-height: 1.6;
  }
}
@media (min-width: 992px) {
  .hero {
    padding-top: 4rem;
    text-align: left;
  }
  .hero .container {
    grid-template-columns: repeat(2, 1fr);
  }
  .hero__picture {
    width: 85%;
  }
  .hero__text {
    padding-right: 3rem;
  }
  .hero__customers {
    margin-top: 3rem;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}
@media (min-width: 1200px) {
  .hero {
    padding: 6.6rem 0;
  }
  .hero__description {
    margin: 3rem 0;
    font-size: 2.5rem;
  }
  .hero__picture {
    width: 100%;
  }
}
.featured {
  text-align: center;
}
.featured__title {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  text-transform: uppercase;
}
.featured__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.3rem;
}
.featured__image {
  height: 1rem;
  -webkit-filter: brightness(0);
          filter: brightness(0);
  opacity: 50%;
}

@media (min-width: 576px) {
  .featured__title {
    margin-bottom: 2rem;
    font-size: 1.4rem;
  }
  .featured__image {
    height: 1.8rem;
  }
}
@media (min-width: 768px) {
  .featured__title {
    font-size: 1.6rem;
  }
  .featured__box {
    gap: 2rem;
  }
  .featured__image {
    height: 2.4rem;
  }
}
@media (min-width: 922px) {
  .featured__image {
    height: 2.8rem;
  }
}
.how__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.how__number {
  font-size: 5rem;
  font-weight: 700;
  color: #ddd;
}
.how__description {
  font-size: 1.6rem;
  line-height: 1.6;
}
.how__box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 4rem 0;
}
.how__box::before {
  width: 60%;
  padding-bottom: 60%;
  background-color: #fdf2e9;
  z-index: -2;
  position: absolute;
  top: 50%;
  left: 50%;
  content: "";
  display: block;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.how__box::after {
  width: 45%;
  padding-bottom: 45%;
  background-color: #fae5d3;
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  content: "";
  display: block;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.how__image {
  width: 35%;
  z-index: 10;
}

@media (min-width: 576px) {
  .how .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .how__box--first {
    grid-column: 2/3;
  }
  .how__text--first {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .how__box--third {
    grid-column: 2/3;
  }
  .how__text--third {
    grid-column: 1/2;
    grid-row: 3/4;
  }
}
@media (min-width: 992px) {
  .how__number {
    font-size: 7rem;
  }
  .how__description {
    font-size: 1.8rem;
    line-height: 1.6;
  }
}
@media (min-width: 1200px) {
  .how__number {
    font-size: 9rem;
  }
  .how__description {
    font-size: 2rem;
    line-height: 1.8;
  }
}
.meals__card {
  margin-bottom: 7rem;
  -webkit-box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
          box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  overflow: hidden;
}
.meals__image {
  width: 100%;
}
.meals__content {
  padding: 2rem;
}
.meals__tag {
  display: inline-block;
  padding: 0.3rem 0.6rem;
  margin-bottom: 0.3rem;
  border-radius: 11px;
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #333;
  background-color: #40c057;
}
.meals__tag--green {
  background-color: #40c057;
}
.meals__tag--yellow {
  background-color: #ffd43b;
}
.meals__name {
  margin-bottom: 2rem;
  font-size: 2.5rem;
  font-weight: 700;
  color: #333;
}
.meals__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.4rem;
  list-style: none;
}
.meals__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  font-size: 1.6rem;
}
.meals__icon {
  font-size: 2.3rem;
  color: #cf711f;
}
.meals__title {
  margin-bottom: 3rem;
  color: #333;
  font-weight: 700;
  font-size: 2.9rem;
  text-align: center;
}
.meals__text {
  display: block;
  margin-top: 5rem;
  padding: 0.5rem;
  font-size: 1.5rem;
  text-align: center;
  text-decoration: none;
  color: #cf711f;
}

@media (min-width: 576px) {
  .meals .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 0;
  }
  .meals__diets {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    grid-column: 1/-1;
  }
}
@media (min-width: 992px) {
  .meals .container {
    grid-template-columns: repeat(3, 1fr);
    -webkit-column-gap: 4rem;
       -moz-column-gap: 4rem;
            column-gap: 4rem;
  }
  .meals__diets {
    display: block;
    grid-column: 3/4;
  }
  .meals__text {
    margin-top: 0;
    font-size: 1.6rem;
  }
}
.testimonials {
  background-color: #fdf2e9;
  padding: 2rem;
}
.testimonials__card {
  margin: 2rem 0;
}
.testimonials__image {
  margin-bottom: 1rem;
  width: 20%;
  border-radius: 50%;
}
.testimonials__text {
  margin-bottom: 1rem;
  font-size: 1.4rem;
  line-height: 1.8;
}
.testimonials__name {
  font-size: 1.2rem;
}
.testimonials__gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 0.5rem;
  -webkit-column-gap: 0.5rem;
     -moz-column-gap: 0.5rem;
          column-gap: 0.5rem;
}
.testimonials__food {
  width: 100%;
}

@media (min-width: 576px) {
  .testimonials__opinion {
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: 4rem;
       -moz-column-gap: 4rem;
            column-gap: 4rem;
  }
  .testimonials__text {
    font-size: 1.5rem;
  }
  .testimonials__name {
    font-size: 1.4rem;
  }
  .testimonials__gallery {
    grid-template-columns: repeat(5, 1fr);
  }
  .testimonials__item:nth-last-child(1) {
    display: none;
  }
  .testimonials__item:nth-last-child(2) {
    display: none;
  }
}
@media (min-width: 922px) {
  .testimonials__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: 4rem;
       -moz-column-gap: 4rem;
            column-gap: 4rem;
  }
  .testimonials__gallery {
    grid-template-columns: repeat(3, 1fr);
  }
  .testimonials__item:nth-last-child(1) {
    display: block;
  }
  .testimonials__item:nth-last-child(2) {
    display: block;
  }
}
@media (min-width: 1200px) {
  .testimonials__gallery {
    grid-template-columns: repeat(4, 1fr);
  }
  .testimonials__text {
    font-size: 1.8rem;
  }
  .testimonials__name {
    font-size: 1.6rem;
  }
}
.pricing__card {
  position: relative;
  padding: 4rem 2rem;
  overflow: hidden;
}
.pricing__card--start {
  margin-bottom: 6rem;
  border: 3px solid #fdf2e9;
  border-radius: 11px;
}
.pricing__card--complete {
  background-color: #fdf2e9;
  border-radius: 11px;
}
.pricing__card--complete::after {
  position: absolute;
  content: "Best value";
  top: 5%;
  right: -17%;
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
  background-color: #ffd43b;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 0.5rem 6rem;
}
.pricing__header {
  text-align: center;
}
.pricing__heading {
  margin-bottom: 3rem;
  font-size: 2rem;
  color: #cf711f;
  text-transform: uppercase;
}
.pricing__currency {
  margin-right: 0.5rem;
  font-size: 2.5rem;
}
.pricing__cash {
  margin-bottom: 1rem;
  color: #333;
  font-size: 5rem;
  font-weight: 700;
}
.pricing__description {
  margin-bottom: 5rem;
  font-size: 1.4rem;
  color: #6f6f6f;
}
.pricing__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
  list-style: none;
}
.pricing__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
  font-size: 1.7rem;
}
.pricing__icon {
  font-size: 3rem;
  color: #cf711f;
}
.pricing__button {
  margin-top: 2rem;
  text-align: center;
}
.pricing__info {
  margin-top: 4rem;
  text-align: center;
  font-size: 1.3rem;
  line-height: 1.6;
}

@media (min-width: 375px) {
  .pricing__card--complete::after {
    top: 7%;
    right: -11%;
  }
}
@media (min-width: 576px) {
  .pricing .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
  .pricing__heading {
    text-align: left;
  }
  .pricing__card {
    margin-bottom: 0rem;
    margin: 0 2rem;
  }
  .pricing__card--complete::after {
    top: 5%;
    right: -22%;
  }
  .pricing__info {
    font-size: 1.6rem;
  }
}
@media (min-width: 768px) {
  .pricing__heading {
    text-align: center;
  }
  .pricing__card {
    width: 70%;
  }
  .pricing__card--complete::after {
    top: 5%;
    right: -20%;
  }
}
@media (min-width: 992px) {
  .pricing__card {
    width: 70%;
  }
  .pricing__card--complete::after {
    top: 5%;
    right: -16%;
  }
}
@media (min-width: 1200px) {
  .pricing__card--complete::after {
    top: 6%;
    right: -10%;
  }
}
.feature__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  margin: 0 2rem 4rem 2rem;
}
.feature__icon {
  padding: 1rem;
  font-size: 3rem;
  color: #cf711f;
  background-color: #fdf2e9;
  border-radius: 50%;
}
.feature__title {
  font-size: 2rem;
  font-weight: 500;
  color: #333;
}
.feature__text {
  font-size: 1.5rem;
  line-height: 1.6;
}

@media (min-width: 576px) {
  .feature .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-self: center;
  }
}
@media (min-width: 768px) {
  .feature .container {
    grid-template-columns: repeat(4, 1fr);
  }
}
.contact .second-heading {
  color: #45260a;
  margin: 2rem 0;
}
.contact__container {
  background-color: #e67e22;
  -webkit-box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
          box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  background-image: -webkit-gradient(linear, left top, right bottom, from(#eb984e), to(#e67e22));
  background-image: linear-gradient(to right bottom, #eb984e, #e67e22);
  text-align: center;
  border-radius: 11px;
  overflow: hidden;
}
.contact__image {
  height: 60vh;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(235, 151, 78, 0.35)), to(rgba(235, 125, 34, 0.35))), url("./../img/eating.jpg");
  background-image: linear-gradient(to right bottom, rgba(235, 151, 78, 0.35), rgba(235, 125, 34, 0.35)), url("./../img/eating.jpg");
  background-position: center;
  background-size: cover;
  overflow: hidden;
}
.contact__text {
  margin-top: 1rem;
  padding: 0 1.5rem;
  color: #45260a;
}
.contact__description {
  margin-bottom: 2rem;
  font-size: 1.4rem;
  line-height: 1.6;
}
.contact__box {
  margin-bottom: 1.2rem;
}
.contact__label, .contact__select {
  margin-bottom: 1rem;
  display: block;
  font-size: 1.4rem;
}
.contact__input, .contact__select {
  display: block;
  margin-bottom: 1rem;
  padding: 0.5rem;
  width: 100%;
  border-radius: 9px;
  border: none;
}
.contact__button {
  padding: 1rem 2rem;
  margin: 1rem 0 1rem 0;
  border: none;
  border-radius: 9px;
  color: #fff;
  background-color: #45260a;
}

@media (min-width: 576px) {
  .contact__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .contact__image {
    height: 100%;
    grid-column: 2/3;
    grid-row: 1/-1;
  }
  .contact__button {
    font-size: 1.5rem;
  }
}
@media (min-width: 768px) {
  .contact__description, .contact__label, .contact__input, .contact__select {
    font-size: 1.6rem;
  }
}
@media (min-width: 1200px) {
  .contact__container {
    grid-template-columns: 60fr 40fr;
    -webkit-column-gap: 3.2rem;
       -moz-column-gap: 3.2rem;
            column-gap: 3.2rem;
    row-gap: 1rem;
  }
  .contact .second-heading {
    color: #45260a;
    margin: 4rem 0;
  }
  .contact__text {
    margin-bottom: 4rem;
  }
  .contact__form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: 1rem;
       -moz-column-gap: 1rem;
            column-gap: 1rem;
    row-gap: 2.4rem;
  }
  .contact__box {
    margin: 0;
  }
  .contact__description {
    margin-bottom: 4rem;
    font-size: 1.8rem;
    line-height: 1.6;
  }
  .contact__label, .contact__select {
    font-size: 1.8rem;
  }
  .contact__input, .contact__select {
    padding: 1rem 2rem;
  }
  .contact__button {
    font-size: 1.8rem;
    -ms-flex-item-align: end;
        align-self: end;
    display: inline-block;
    border-radius: 9px;
  }
}
.footer {
  border-top: 1px solid #ddd;
  color: #767676;
}
.footer .container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  -webkit-column-gap: 2rem;
     -moz-column-gap: 2rem;
          column-gap: 2rem;
  row-gap: 2rem;
}
.footer__logo {
  height: 1.8rem;
}
.footer__box {
  grid-column: span 2;
  margin-bottom: 2rem;
}
.footer__info {
  grid-row: 2/3;
  grid-column: span 3;
}
.footer__media {
  grid-row: 2/3;
  grid-column: span 3;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
  padding: 0.5rem;
  font-size: 1.8rem;
  list-style: none;
}
.footer__icon {
  color: #767676;
}
.footer__copyright {
  margin-top: 2rem;
}
.footer__address {
  margin-top: 0.3rem;
  padding: 0.5rem;
  font-style: normal;
}
.footer__contact {
  color: inherit;
  text-decoration: none;
}
.footer__title {
  margin-bottom: 2rem;
  font-size: 1.6rem;
  font-weight: 500;
  color: #555;
}
.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  font-size: 1.1rem;
  list-style: none;
}
.footer__link {
  text-decoration: none;
  color: #767676;
}

@media (min-width: 576px) {
  .footer__title {
    font-size: 1.8rem;
  }
  .footer__item {
    font-size: 1.4rem;
  }
  .footer__address {
    font-size: 1.4rem;
  }
  .footer__icon {
    font-size: 1.8rem;
  }
  .footer__copyright {
    font-size: 1.4rem;
  }
}
@media (min-width: 768px) {
  .footer .container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
  }
  .footer__box {
    grid-column: span 1;
  }
  .footer__info {
    grid-row: 1/2;
    grid-column: 3/5;
  }
  .footer__media {
    grid-row: 1/2;
    grid-column: 1/3;
  }
}/*# sourceMappingURL=style.css.map */