$light-background: #fdf2e9;
$light-background-navigation: rgba(255, 255, 255, 0.97);
$white-font: #fff;
$white-background: #fff;
$black-font: #333;
$dark-orange: #cf711f;
$light-orange: #e67e22;
$grey: #ddd;
$color-green: #40c057;
$color-yellow: #ffd43b;
$grey-color: #6f6f6f;
$brown-color: #45260a;
$footer-color: #767676;
$footer-heading: #555;
