* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

*:focus {
	outline: none;
	/* outline: 4px dotted #e67e22;
	outline-offset: 8px; */
	box-shadow: 0 0 0 0.8rem rgba(230, 125, 34, 0.5);
}

html {
	font-size: 62.5%;
	overflow-x: hidden;
	scroll-behavior: smooth;
}

body {
	font-family: 'Rubik', sans-serif;
	font-weight: 400;
	color: #555;
	overflow-x: hidden;
}

.container {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}

.section-padding {
	padding: 4.6rem 2rem 4.6rem 2rem;
}

.first-heading {
	margin-bottom: 2rem;
	color: #222;
	font-size: 3.2rem;
	line-height: 1.2;
	font-size: 700;
}

.second-heading {
	margin-bottom: 4rem;
	max-width: 120rem;
	color: #222;
	font-size: 2.8rem;
	line-height: 1.2;
	font-size: 700;
}

.third-heading {
	margin-bottom: 2rem;
	font-size: 2.2rem;
	color: #222;
}

.orange-button {
	background-color: $dark-orange;
	color: $white-font;
	@include button;
}

.white-button {
	background-color: $white-background;
	color: $black-font;
	@include button;
}

@media (min-width: 768px) {
	.first-heading {
		font-size: 3.5rem;
	}
	.orange-button,
	.white-button {
		font-size: 1.8rem;
	}
}

@media (min-width: 992px) {
	.second-heading {
		font-size: 3.5rem;
	}
	.third-heading {
		font-size: 2.6rem;
	}
}

@media (min-width: 1200px) {
	.first-heading {
		font-size: 4.5rem;
	}
	.orange-button,
	.white-button {
		font-size: 2.2rem;
	}
}
