@mixin button {
	display: inline-block;
	margin-bottom: 2rem;
	padding: 1rem 2rem;
	border-radius: 11px;
	text-decoration: none;
	font-size: 1.4rem;
	font-weight: 500;
	margin-right: 1rem;
}

@mixin grid {
	display: grid;
}

@mixin grid--1-cols {
	grid-template-columns: 1fr;
}

@mixin grid--2-cols {
	grid-template-columns: repeat(2, 1fr);
}

@mixin grid--3-cols {
	grid-template-columns: repeat(3, 1fr);
}

@mixin grid--4-cols {
	grid-template-columns: repeat(4, 1fr);
}

@mixin grid--5-cols {
	grid-template-columns: repeat(5, 1fr);
}

@mixin grid--6-cols {
	grid-template-columns: repeat(6, 1fr);
}
@mixin grid--8-cols {
	grid-template-columns: repeat(8, 1fr);
}

@mixin radiusOnPhone {
	position: absolute;
	top: 50%;
	left: 50%;
	content: '';
	display: block;
	border-radius: 50%;
	transform: translate(-50%, -50%);
}

@mixin mealsTag {
	display: inline-block;
	padding: 0.3rem 0.6rem;
	margin-bottom: 0.3rem;
	border-radius: 11px;
	font-size: 1.2rem;
	font-weight: 500;
	text-transform: uppercase;
	color: $black-font;
	background-color: $color-green;
}
