.featured {
	text-align: center;
	&__title {
		margin-bottom: 1rem;
		font-size: 1.2rem;
		text-transform: uppercase;
	}
	&__box {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 0.5rem;
	}
	&__image {
		width: 100%;
		filter: brightness(0);
		opacity: 50%;
	}
}

@media (min-width: 576px) {
	.featured {
		&__title {
			margin-bottom: 2rem;
			font-size: 1.4rem;
		}
	}
}
