.header {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
	background-color: $light-background;
	&__logo {
		height: 2rem;
	}
	&__burger {
		padding: 1rem;
		background: none;
		border: none;
		z-index: 200;
		font-size: 2.8rem;
		color: $black-font;
		&__icon[name='close-outline'] {
			display: none;
		}
	}
}

@media (min-width: 576px) {
	.header {
		&__logo {
			height: 2.2rem;
		}
		&__burger {
			font-size: 3.4rem;
		}
	}
}

@media (min-width: 768px) {
	.header {
		&__logo {
			height: 2.4rem;
		}
		&__burger {
			font-size: 3.4rem;
		}
	}
}

@media (min-width: 992px) {
	.header {
		padding: 3rem;
		&__burger {
			display: none;
		}
	}
}
