.hero {
	padding: 2.3rem 2rem;
	background-color: $light-background;
	text-align: center;
	&__picture {
		width: 100%;
	}
	&__description {
		margin-bottom: 2rem;
		font-size: 1.6rem;
		line-height: 1.6;
	}
	&__customers {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		gap: 1rem;
		&__box {
			display: flex;
			&__image {
				width: 5.4rem;
				height: 5.4em;
				margin-right: -1.2rem;
				border-radius: 50%;
				border: 3px solid $light-background;
			}
		}
		&__text {
			margin-bottom: 2rem;
			font-weight: 500;
			font-size: 1.4rem;
		}
		&--special {
			color: $dark-orange;
		}
	}
}

@media (min-width: 576px) {
	.hero {
		&__customers {
			flex-direction: row;
			gap: 2rem;
			margin-bottom: 2rem;
			&__text {
				margin-top: 0;
				margin-bottom: 0;
				font-size: 1.5rem;
			}
		}
	}
}

@media (min-width: 768px) {
	.hero {
		&__picture {
			width: 70%;
		}
		&__description {
			margin-bottom: 2rem;
			font-size: 1.8rem;
			line-height: 1.6;
		}
	}
}
