.pricing {
	&__card {
		position: relative;
		padding: 4rem 2rem;
		overflow: hidden;
		&--start {
			margin-bottom: 6rem;
			border: 3px solid $light-background;
			border-radius: 11px;
		}
		&--complete {
			background-color: $light-background;
			border-radius: 11px;
		}
		&--complete::after {
			position: absolute;
			content: 'Best value';
			top: 5%;
			right: -17%;
			transform: rotate(40deg);
			background-color: $color-yellow;
			font-size: 1.5rem;
			font-weight: 500;
			padding: 0.5rem 6rem;
		}
	}
	&__header {
		text-align: center;
	}
	&__heading {
		margin-bottom: 3rem;
		font-size: 2rem;
		color: $dark-orange;
		text-transform: uppercase;
	}
	&__currency {
		margin-right: 0.5rem;
		font-size: 2.5rem;
	}
	&__cash {
		margin-bottom: 1rem;
		color: $black-font;
		font-size: 5rem;
		font-weight: 700;
	}
	&__description {
		margin-bottom: 5rem;
		font-size: 1.4rem;
		color: $grey-color;
	}
	&__list {
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 2rem;
		list-style: none;
	}
	&__item {
		display: flex;
		align-items: center;
		gap: 0.5rem;
		font-size: 1.7rem;
	}
	&__icon {
		font-size: 3rem;
		color: $dark-orange;
	}
	&__button {
		margin-top: 2rem;
		text-align: center;
	}
}

@media (min-width: 375px) {
	.pricing {
		&__card {
			&--complete::after {
				top: 7%;
				right: -11%;
			}
		}
	}
}

@media (min-width: 576px) {
	.pricing {
		.container {
			@include grid;
			@include grid--2-cols;
			justify-items: center;
		}
		&__heading {
			text-align: left;
		}
		&__card {
			margin-bottom: 0rem;
			margin: 0 2rem;
			&--complete::after {
				top: 5%;
				right: -22%;
			}
		}
	}
}

