.testimonials {
	background-color: $light-background;
	padding: 2rem;
	&__card {
		margin: 2rem 0;
	}
	&__image {
		margin-bottom: 1rem;
		width: 15%;
		border-radius: 50%;
	}
	&__text {
		margin-bottom: 1rem;
		font-size: 1.4rem;
		line-height: 1.8;
	}
	&__name {
		font-size: 1.2rem;
	}
	&__gallery {
		@include grid;
		@include grid--3-cols;
		row-gap: 0.5rem;
		column-gap: 0.5rem;
	}
	&__item {
		overflow: hidden;
	}
	&__food {
		display: block;
		width: 100%;
		transition: transform 0.5s;
	}
	&__food:hover {
		transform: scale(1.1);
	}
}

@media (min-width: 576px) {
	.testimonials {
		&__opinion {
			margin-bottom: 2rem;
			@include grid;
			@include grid--2-cols;
			column-gap: 4rem;
		}
		&__text {
			font-size: 1.5rem;
		}
		&__name {
			font-size: 1.4rem;
		}
		&__gallery {
			@include grid--5-cols;
		}
		&__item:nth-last-child(1) {
			display: none;
		}
		&__item:nth-last-child(2) {
			display: none;
		}
	}
}

@media (min-width: 922px) {
	.testimonials {
		&__container {
			@include grid;
			@include grid--2-cols;
			column-gap: 4rem;
		}
		&__gallery {
			@include grid--3-cols;
		}
		&__item:nth-last-child(1) {
			display: block;
		}
		&__item:nth-last-child(2) {
			display: block;
		}
	}
}

@media (min-width: 1200px) {
	.testimonials {
		&__gallery {
			@include grid--4-cols;
		}
		&__text {
			font-size: 1.8rem;
		}
		&__name {
			font-size: 1.6rem;
		}
	}
}
